--- libgnetwork/gnetwork-type-builtins.c.template.orig	Fri Dec 12 01:47:18 2003
+++ libgnetwork/gnetwork-type-builtins.c.template	Fri Dec 12 01:48:31 2003
@@ -26,7 +26,9 @@
 
 
 /*** BEGIN value-production ***/
+#ifdef @VALUENAME@
 			{ @VALUENAME@, "@VALUENAME@", "@valuenick@" },
+#endif
 /*** END value-production ***/
 
 
