--- abiword.desktop.orig	Sat Jul 31 12:57:52 2004
+++ abiword.desktop	Fri Aug 13 20:29:41 2004
@@ -3,11 +3,10 @@
 Icon=abiword_48.png
 Terminal=false
 Type=Application
-Categories=Application;Office;WordProcessor;X-Red-Hat-Base;
+Categories=Application;Office;WordProcessor;
 StartupNotify=true
 Encoding=UTF-8
-X-Desktop-File-Install-Version=0.4
-MimeType=application/x-abiword; text/x-abiword; text/x-xml-abiword; text/plain;
+MimeType=application/x-abiword;text/x-abiword;text/x-xml-abiword;text/plain;
 Name=Word Processor
 Comment=AbiWord Word Processor
 Name[de]=Textverarbeitung
